#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CanvasContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

@supports (width: fit-content) and (user-select: none) {
  .Canvas {
    display: grid;
    user-select: none;
  }
}

.Canvas {
  display: grid;
  -webkit-user-select: none;
  user-select: none;
}

.Canvas:hover {
  cursor: crosshair;
}

.InputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.InputField label {
  color: whitesmoke;
  font-weight: bold;
}

.Field {
  display: block;
  margin-bottom: 1rem;
  height: 2rem;
  width: 5rem;
}

.Field[type="number"] {
  border-radius: 10px;
}

.Button button,
.Field {
  background-color: rgb(193, 193, 193);
  color: black;
}

.Pixel {
  width: 30px;
  height: 30px;
}

.showOutline {
  border: 0.2px solid black;
}

.notEdited {
  background-color: transparent !important;
}

.Toolbox {
  display: inline;
}

.Toolbox .Button {
  display: inline;
}

.Toolbox .Button button {
  width: 50px;
  height: 50px;
}

.Eraser {
  background-image: url("./assets/eraser-icon.svg");
  background-color: transparent !important;
  background-repeat: no-repeat;
}
