#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CanvasContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

@supports (width: fit-content) and (user-select: none) {
  .Canvas  {
    display: grid;
    user-select: none;
  }
};

.Canvas  {
  display: grid;
  -webkit-user-select: none;
  user-select: none;
}

.Canvas:hover {
  cursor: crosshair;
}

.InputField {
  display: block;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.Pixel {
  width: 30px;
  height: 30px;
}

.showOutline {
  border: 0.2px solid black;
}
