#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CanvasContainer {
  display: inline-block;
}

.Canvas {
  display: grid;
  -webkit-user-select: none;
  user-select: none;
}

.CanvasContainer {
  background-image: url("./assets/canvas-background.png");
}

.Canvas:hover {
  cursor: crosshair;
}

.InputField,
.DownloadField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.DownloadField {
  margin-bottom: 2rem;
}

.InputField label,
.DownloadField label {
  color: whitesmoke;
  font-weight: bold;
}

.Field,
select {
  display: block;
  margin-bottom: 1rem;
  height: 2rem;
  width: 5rem;
}

select {
  margin: auto;
}

.Field[type="number"] {
  border-radius: 10px;
}

.Button button,
.Field,
select {
  background-color: rgb(193, 193, 193);
  color: black;
}

.Pixel {
  width: 30px;
  height: 30px;
}

.showOutline {
  border: 0.2px solid black;
}

.Toolbox {
  display: inline;
}

.Toolbox .Button {
  display: inline;
}

.ColorHistory {
  margin-top: 2rem;
}

.ColorHistory button {
  width: 25px;
  height: 25px;
  padding: 0;
}

.Eraser,
.Outline {
  width: 50px;
  height: 50px;
}

.eraserDisabled {
  background: url("./assets/eraser-disabled.png") !important;
}

.eraserEnabled {
  background: url("./assets/eraser-enabled.png") !important;
}

.outlineOn {
  background: url("./assets/no-outline.png");
}

.outlineOff {
  background: url("./assets/outline.png");
}
