#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.CanvasContainer {
  display: inline-block;
  background-image: url("./assets/canvas-background.png");

}

.Canvas {
  display: grid;
  -webkit-user-select: none;
  user-select: none;
}

.Canvas:hover {
  cursor: crosshair;
}

.InputField,
.DownloadField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.DownloadField {
  margin-bottom: 2rem;
}

.InputField label,
.DownloadField label {
  color: whitesmoke;
  font-weight: bold;
}

.Field,
select {
  display: block;
  margin-bottom: 1rem;
  height: 2rem;
  width: 5rem;
}

select {
  margin: auto;
}

.Field[type="number"] {
  border-radius: 10px;
}

.Button button,
.Field,
select {
  background-color: rgb(193, 193, 193);
  color: black;
}

.Pixel {
  width: 30px;
  height: 30px;
}

.showOutline {
  border: 0.2px solid black;
}

.Toolbox .PrimaryTools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ColorHistory {
  margin: 1rem 0 1rem 0;
  height: fit-content;
}

.ColorHistory .Button {
  display: inline-block;
  margin: 0 0.25rem 0 0.25rem;
}

.ColorHistory button {
  width: 25px;
  height: 40px;
  border-radius: 50px;
}

.ColorHistory .Button:hover {
  scale: 0.8;
  transition: 200ms;
}

.eraserDisabled {
  background: url("./assets/eraser-disabled.png") !important;
}

.eraserEnabled {
  background: url("./assets/eraser-enabled.png") !important;
}

.outlineOn {
  background: url("./assets/no-outline.png");
}

.outlineOff {
  background: url("./assets/outline.png");
}

.Tooltip {
  color: white;
  position: absolute;
}

.PrimaryTools .Button {
  position: relative;
}

.PrimaryTools .Button button {
  width: 50px;
  height: 50px;
}

.PrimaryTools .Button:first-of-type .Tooltip {
  right: 55px;
  top: -3px;
}

.PrimaryTools .Button:nth-of-type(2) .Tooltip {
  left: 55px;
  top: -3px;
}
